@font-face {
  font-family: 'BogartRegular';
  src: local('BogartRegular'),
    url('./assets/fonts/Bogart-Regular-trial.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Gatsbey';
  src: local('Gatsbey'), url('./assets/fonts/Gatsbey.ttf') format('truetype');
  font-weight: normal;
}

html {
  height: 100vh;
  background: url('./assets/images/robotstatic-07_2.png'),
    url('./assets/images/bg.png'), #faf8f3;
  background-position: center;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  color: hsla(12, 70%, 50%, 1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  font-family: 'BogartRegular', serif;
}

.title {
  font-family: 'BogartRegular', serif;
  font-size: 1.5em;
}

body,
p,
button {
  font-family: 'Gatsbey', sans-serif;
}

#root {
  height: 90vh;
}

/* common css */
.body {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
}

.tagline {
  margin-bottom: 72px;
}

/* lazy */
.messageGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1em;
  width: 100%;
  height: 100%;
  padding: 1em;
}

footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 10vh;
}
